*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

.title {
    display: flex;
    justify-content: center;
    padding:380px 300px 50px;
    background-image: url("./img/titlepage.png");
    background-size: cover;
    width:100%;
    height:490px;
    color: #F4F7FA;
 
}

.title h1{
    vertical-align: middle;
    font-family: GothicA1-SemiBold;
    font-size: 35px;
    font-weight: lighter;
    text-align: center;
}
/* h1 {
   font-family: GothicA1-Light;
   font-size: 40px;
   text-align:center; */



.content h2 {
   vertical-align: middle;
   font-family: Arimo;
   font-size: 32px;
   text-align: center;
   padding:30px;
}

h3 {
    font-family: GothicA1-Light;
    font-size: 20px;
    text-align: center;

 }

.about {
    margin: 40px;
    margin-bottom: 0;
    font-family: Arimo;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
    color: #455C78; 
    /* border-width: 15px;
    border-style: solid;
    border-color: #C5D0DE; */
    
    padding: 30px 30px;

}

.content {
    margin: 0 40px;
    font-family: Arimo;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
    color: #455C78; 
    /* border-width: 15px;
    border-style: solid;
    border-color: #C5D0DE; */
    
    padding: 30px 30px;

}

/* titleimg */
/* .titleimg{
    display: flex;
    width:100%;
    background-image: url("img/titlepage.png");
    background-size: cover;
    opacity: 1;
} */

/* img size*/

/* .img1:hover {
    opacity: 0.3;  
} */

.content p{
    font-size: 16px;
    padding: 10px;
}

.card{
    margin-bottom: 10px;
}

.project1 h3{
    color: #455C78; 
}

footer h3, footer p{
    color: #F4F7FA;
    line-height: 1.5;
    text-align: center;
    background-color: #5F7593;
    padding-top:10px;
    font-family: GothicA1-Light;
    font-size: 15px;
    padding:10px;
}
